* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

#container{
  display: grid;
  grid-template-areas: 
    "header"
    "slides"
    "contents"
    "footer";
  grid-template-rows: 100px 300px 200px 100px;

  margin: 0 auto;
  width: 1200px;

  background-color: #ffffff;
  color: #333;
}

/* 1. 헤더 */

header{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* 1-1. 로고*/
.logo{
  width: 200px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a{
  text-decoration: none;
  text-align: center;
  color: #333;
}

/* 1-2. 메인메뉴*/
nav{
  width: 1000px;
  height: 100%;
}

#mainMenus{
  display: flex;
  justify-content: center;
  align-items: flex-start;

  list-style-type: none;
}

#mainMenus li{
  display: block;
  position: relative;

  list-style-type: none;

  width: 150px;
  text-align: center;
}

#mainMenus > li:hover{
  background-color: bisque;
  transition: 0.5s ease-in;
}

#mainMenus li a{
  height: 100%;
  line-height: 100px; /* 세로축 정렬 */

  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

#mainMenus li ul{
  position: absolute;
  width: 100%;

  opacity: 0;
  visibility: hidden;

  list-style-type: none;
  transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
  z-index: 100;
}

#mainMenus li:hover ul{
  background-color: rgba(255, 228, 196, 0.5);
}


#mainMenus li:hover > ul {
  opacity: 1;
  visibility: visible;
}

#mainMenus > li > ul > li > a:hover{
  color: black;
}

#mainMenus li ul li{
  width: 100%;
  text-align: center;
}

#mainMenus li ul li a{
  margin-top: 0px;
  font-size: 15px;
}




/* 2. 슬라이드 */
#slideShow{
  grid-area: slides;

  width: 100%;
  height: 100%;

  overflow: hidden;
  position: relative;
}

#slides{
  display: flex;
  width: 100%;                /* 이미지 수만큼 배 */
  height: 100%;

  transition: transform 0.5s ease-in-out;
  position: relative;
}

#slides a {
  flex: 1 0 100%;             /* 한 이미지가 100% 차지 */
}

#slides a img{
  width: 100%;
  height: 100%;

  border: black solid 1px;
}

#prev, #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  z-index: 10;

  background-color: rgba(0,0,0,0.4);
  color: white;
  font-size: 24px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

button:hover {
  background-color: #222;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
}


/* 3. 콘텐츠 */
#contents{
  grid-area: contents;

  width: 100%;
  height: 100%;
  display: flex;

}



/* 3-1. 탭메뉴 */
#tabMenu{
  width: 400px;
  height: 100%;

  position: relative;
  border: 1px solid #aaa;
}

#tabMenu input[type="radio"]{
  display: none;
}

#tabMenu label{
  height: 50px;
  display: inline-block;
  margin: 0 0;
  padding: 15px 20px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 1px solid transparent;
}

#tabMenu label:hover{
  cursor: pointer;
  color: #222;
}

#tabMenu input:checked + label{
  color: #b00;
  border: 1px solid #ddd;
}

.tabContent{
  top: 50px;

  width: 100%;
  height: calc(100% - 50px);
  display: none;
  border: 1px solid #ddd;
  position: absolute;
}

#notice ul{
  list-style: none;
  height: 100%;
}

#notice ul li{
  padding-left: 30px;
  font-size: 16px;
  line-height: 2.2;
}

#tabMenuGallery{
  padding-left: 20px;
}

#tabMenuGallery img{
  margin: 20px 10px;
  width: 25%;
  height: 75%;
}

#tab1:checked ~ #notice,
#tab2:checked ~ #tabMenuGallery{
  display: block;
}

/* 3-1-1. 탭메뉴 */
.popup{
  position: fixed;
  display: none;
  justify-content: center;
  align-content: center;
  align-items: center;  
  
  z-index: 9999;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content{
  background: white;
  padding: 30px;
  

  width: 300px;
  height: 300px;

  border-radius: 8px;
  text-align: center;
}



/* 3-2. 갤러리 */
#gallery{
  width: 400px;
  height: 100%;
  
  display: flex;
  justify-content: center;

  border: 1px solid #ddd;
}

#gallery img{
  margin-top: 20px;
  width: 33%;
  height: 75%;
  padding: 20px 20px;
}


/* 3-3. 배너 */
#banner{
  width: 400px;
  height: 100%;

  border: 1px solid #ddd;
}

#banner h1 a{
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 5.0;
}




/* 4. 푸터 */
footer{
  grid-area: footer;
  display: flex;


  width: 100%;
  height: 100%;

  border: 1px solid #ddd;
}

/* 4-1. Logo */
footer .logo{
  
  border: 1px solid #ddd;
}

/* 4-2 CopyRight */
#copyRight{
  width: 800px;

  border: 1px solid #ddd;
  
}

#copyRight p{
  padding-top: 20px;
  opacity: 0.7;
  margin-left: 10px;
  line-height: 1.5em;
  text-align: left;
}

/* 4-3 패밀리사이트 */
#familySite{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 100px;
}

#icons img{
  margin-bottom: 20px;
}

#familySite select{
  width: 150px;      /* 너비 */
  height: 40px;      /* 높이 */
  font-size: 16px;   /* 텍스트 크기 */
}