* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: #333333;
}

#container{
  display: grid;
  grid-template-areas: 
    "header" 
    "slides" 
    "contents"
    "footer";
  grid-template-rows: 100px 300px 200px 100px;
  position: relative;

  width: 1200px;
  margin: 0 auto;
}

/* 1. 헤더 */
header{
  grid-area: header;
  display: flex;

  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;
}

/* 1-1. 로고 */
#logo{
  display: flex;           /* flex 형식으로 두어서 세로, 가로 가운데 정렬 편하게 하기 */
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 100%;

  background-color: beige;
}

#logo h1 a{
  text-align: center;
  text-decoration: none;
  
  background-color: beige;
}

/* 1-2. 메인메뉴 */
header nav{

  width: 1000px;
  height: 100%;
}

#mainMenu{
  display: flex;
  justify-content: flex-end;
  align-items: end;
  flex-direction: row;

  width: 100%;
  height: 100%;

  list-style-type: none;
}

#mainMenu li{
  margin-bottom: 0;
  padding: 20px;
  position: relative;

  width: 150px;

  background-color: blanchedalmond;

  border: 1px solid black;
  text-align: center;
}

#mainMenu li:last-child{
  margin-right: 50px;
  
}

#mainMenu a{
  text-align: center;

  text-decoration: none;
}

#mainMenu li:hover{
  transition: 1s ease;
  background-color: burlywood;
  border-bottom: none;
}

.subMenu{
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 2s ease;
  pointer-events: none;
  background-color: blanchedalmond;
}

.subMenu.visible{
  /* display: flex; */ /*해당 속성 존재시 display:none에서 flex로 즉시 전환되며 애니메이션 불가 */
  opacity: 1;
  pointer-events: auto;
}

.subMenuWrap{
  width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: flex-end;
  
  flex-direction: row;
}

.subMenuWrap ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.subMenuWrap ul:last-child{
  margin-right: 50px;
}

.subMenuWrap ul li{
  width: 150px;
  text-align: center;
  margin-top: 10px;
}

.subMenuWrap ul li:hover{
  background-color: burlywood;
  transition: background-color 1s ease;
}

.subMenuWrap ul li a{
  text-decoration: none;
}


/* 2. 슬라이드 */
.slide-viewport {
  width: 1200px;     /* ✅ 명시적으로 지정 */
  height: 300px;
  overflow: hidden;  /* ✅ 여기서 잘라냄 */
  position: relative;
}

#slides{
  grid-area: slides;
  width: 100%;
  height: 100%;

  transition: transform 0.5s ease-in-out;

  display: flex;
  flex-direction: row;
}

#slides a{
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

#slides a img{
  width: 100%;
  height: 100%;

  border: 1px solid gray;
}


/* 3. 콘텐츠 */



/* 4. 푸터 */

